.form_row
{
    margin-top: 32px;
}
button.form_widget {
    padding: 15px 15px;
    box-shadow: 1px 2px 6px 0px #ccc !important;
    border-radius: 22px;
    outline: none;
    border: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    font-size: 17px;
}
.contact_form_details h3 {
    font-size: 24px;
    padding-bottom: 30px;
}
.form_button_col {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.form_button_col button {
    flex: auto;
    width: auto;
    padding: 15px 15px;
    box-shadow: 1px 2px 6px 0px #ccc !important;
}
.form_row h3 {
    text-align: left;
}
.form_button_col button.Polaris-Button--variantPrimary {
    background: linear-gradient(to right, #6D75E4 0%, #7053B4 100%);
}
.save_field_button button {
    background: #057805 !important;
    box-shadow: 1px 2px 6px 0px #ccc !important;
    padding: 15px 30px;
}
.save_field_button {
    text-align: center;
}
.contact_form_details p {
    font-size: 18px;
}